<div class="row">
  <div class="span6">
    <h1>RhoMobile Hosted Services</h1>
    <p>Description of hosted services here.</p>
  </div>
  <div class="span6">
    <!-- <p><img src="https://s3.amazonaws.com/rhodocs-images/guide/docs_landing.jpg"></p> -->
  </div>
</div>

<div class="row">
  <div class="span4">
  </div>
</div>