- @bodyid = "index"
- @title = "Docs"

%h1 Docs

:markdown
  Welcome to the Rhomobile docs page!  Browse around the contents on the left or read the tutorials below to get started.  

%h2 Tutorials
%ul
  :plain
    <li><a href="/rhodes/tutorial">Rhodes Tutorial:</a> Brief tutorial on how install and use Rhodes and RhoSync.  Start here!</li>
    <li><a href="/rhosync/tutorial">RhoSync Tutorial:</a> How to install RhoSync and write adapters to integrate backend apps.</li>
    <li><a href="/rhohub/tutorial">RhoHub Tutorial:</a> Shows how you build smartphone apps online on RhoHub.</li>
    <li><a href="/thirdparty-tutorials">Third Party Tutorials:</a> Several third party writeups and blogs on Rhodes.</li>
    <li><a href="http://www.ruby-lang.org/en/documentation/quickstart">Ruby in Twenty Minutes:</a> Helpful (but not required!) as you start to modify controllers.</li>

%h2 Developer References
%ul
  :plain
    <li><a href="/rhodes/introduction">Rhodes Developer Reference:</a> Full doc of Rhodes, including how to build on all platforms.</li>
    <li><a href="/rhosync/introduction">RhoSync Developer Reference:</a> Full doc of the RhoSync app integration server.</a></li>
    <li><a href="architecturefaq">Architectural FAQ:</a> Questions about Rhodes and RhoSync architecture and capabilities.</li>
    <li><a href="faq">Programming FAQ:</a> Specific coding questions for building apps.</li>

%h2 Sample Apps
%ul
  :plain
    <li><a href="http://github.com/rhomobile/rhodes-system-api-samples">API samples:</a> A simple Rhodes application which demonstrates all features.</li>
    <li><a href="http://github.com/koombea/trackr2">TrackR:</a> Source code for third party iPhone/Android app for Pivotal Tracker.</li>
    <li><a href="http://github.com/rhomobile/store">Rhostore:</a> Simple store application which we show you how to build in the Rhodes Tutorial.</li>
    <li><a href="http://github.com/rhomobile/store-bulk">Rhostore Bulk:</a> Simple store application demonstrating how to use the bulk sync feature.</li>
    <li><a href="http://github.com/rhomobile/webinar-samples">Webinar Samples:</a> A collection of all samples shown in the webinars.</li>
	
%h2 Community Resources
%ul
  :plain
    <li><a href="http://rhomobile.com/webinars">Webinars and Videos:</a> Webinars and videos with hands-on Rhodes training.</li>
    <li><a href="http://github.com/rhomobile">Rhomobile on GitHub:</a> Source repository where Rhodes and RhoSync are maintained.</li>
    <li><a href="http://groups.google.com/group/rhomobile">Google Group:</a> Rhomobile Google Group for your questions, problems and feedback.</li>
    <li><a href="/releases">Latest Releases:</a> Latest release information and upgrade instructions.</li>
    <li><a href="http://www.apress.com/book/view/9781430228684">Book on Rhomobile Development:</a> This book from APress is available NOW.</li>

These docs are also [open source](http://github.com/rhomobile/rhomobile-docs), so please fork the project and provide feedback if you want to add content or find errors.

  