<div class="row">
    <div class="span6">
<h1>RhoMobile Suite Docs</h1>
  
  <p>Welcome to the Rhomobile Suite documentation site. Here you will find developer guides to walk you through activities using the framework. You will also find a complete API reference section that describes the available interfaces.</p>
    </div>
    <div class="span6">
        <p><img src="https://s3.amazonaws.com/rhodocs-images/guide/docs_landing.jpg"></p>
    </div>
  
</div>
<div class="row">
    <div class="span4">
        <h2>Get Started</h2>
        <ul>
            <li><a href="/guide/welcome">RhoMobile Suite Introduction </a></li>
            <li><a href="/guide/creating_a_project">RhoStudio Tutorial </a></li>
            <li><a href="/rhoconnect/tutorial">RhoConnect Tutorial </a></li>
            <li><a href="/guide/kitchensink">KitchenSink Sample </a></li>
        </ul>
    </div>
    <div class="span4">
        <h2>New Guides</h2>
        <ul>
            <li><a href="/guide/api_js">Javascript API Guide</a></li>
            <li><a href="/guide/apiusage">RhoMobile Migration Guide</a></li>
            <li><a href="/rhoconnect/migration">RhoConnect Migration Guide</a></li>
            <li><a href="/guide/visualstudio">Visual Studio Plugin</a></li>
            <li><a href="/rhoconnectapi/source-adapter-controller-api-js">Javascript RhoConnect Source Adapters</a></li>
        </ul>
    </div>
    <div class="span4">
        <h2>API Updates</h2>
        <ul>
            <li><a href="/api/OrmModel">Javascript Data Access</a><span class="label label-success">New</span></li>
            <li><a href="/api/RhoConnectClient">RhoConnect Client </a><span class="label label-warning">Updated</span></li>
            <li><a href="/api/sensor">Device Sensors</a><span class="label label-success">New</span></li>
            <li><a href="/api/NativeMenubar">Native Menus</a><span class="label label-success">New</span></li>
            <li><a href="/api/system">System </a><span class="label label-warning">Updated</span></li>
        </ul>
    </div>

</div>




<div class='row'>
<h2>Community Resources</h2>
<ul>
    <li><a href="https://developer.motorolasolutions.com/community/rhomobile-suite">RhoMobile Community:</a> Launchpad to all technical resources related to Rho.</li>
    <li><a href="https://developer.motorolasolutions.com/community/rhomobile-suite/videos">Webinars and Videos:</a> Learn through watching instructional videos.</li>
    <li><a href="https://developer.motorolasolutions.com/community/rhomobile-suite/discussions">Discussion Group:</a> Get help or share an idea with the rest of the developer community.</li>
    <li><a href="https://developer.motorolasolutions.com/docs/DOC-1773">Certified Partners:</a> Get help from certified Rho experts for training, consulting or development work.</li>
    <li><a href="https://developer.motorolasolutions.com/docs/DOC-1804">Books:</a> See what books have been written about RhoMobile.</li>
    <li><a href="http://pinterest.com/motosolutions/rhomobile-apps/">Apps:</a> Checkout our Pinterest board filled with Apps.</li>
    <li><a href="https://twitter.com/rhomobile">Twitter</a> Follow us and find out when the next DevTalk Webinar will be.</li>
</ul>
</div>

  
