- @bodyid = "index"
- @title = "Docs"

%h1 Docs & FAQs

:markdown
  Heroku has many resources available to help.  First, check out our [Quickstart Guide](quickstart).

  Then, browse or search our [docs](http://docs.heroku.com) on the left, or read the following [frequently asked questions](faq-accounts-billing):

.twocol.section
  .left
    %h2 Product Features
    %ul
      :plain
        <li><a href="faq-product-features#how-does-database-scaling-work">How does database scaling work?</a></li>
        <li><a href="faq-product-features#how-does-dyno-scaling-work">How does dyno scaling work?</a></li>
        <li><a href="faq-product-features#what-rails-versions-do-you-support">What Rails versions do you support?</a></li>
        <li><a href="faq-product-features#do-you-support-mysql">Do you support MySQL?</a></li>
        <li><a href="faq-product-features#can-i-point-mydomaincom-to-my-heroku-app">Can I point *.mydomain.com to my Heroku app?</a></li>
        <li><a href="faq-product-features#why-does-ssl-cost-100month">Why does SSL cost $100/month?</a></li>
        <li><a href="faq-product-features#do-you-offer-an-outgoing-email-service">Do you offer an outgoing email service?</a></li>
        <li><a href="faq-product-features#how-do-i-install-gems-for-my-app">How do I install gems for my app?</a></li>
        <li><a href="faq-product-features#does-my-app-have-a-static-ip">Does my app have a static IP?</a></li>

  .right
    %h2 Accounts & Billing
    %ul
      :plain
        <li><a href="faq-accounts-billing#how-do-i-delete-my-account">How do I delete my account?</a></li>
        <li><a href="faq-accounts-billing#how-do-i-change-my-email-address">How do I change my email address?</a></li>
        <li><a href="faq-accounts-billing#why-do-i-have-to-provide-my-billing-details-to-use-add-ons">Why do I have to provide my billing details to use add-ons?</a></li>
        <li><a href="faq-accounts-billing#i-donrsquot-have-a-credit-card-can-i-still-verify">I don&rsquo;t have a credit card. Can I still verify?</a></li>
        <li><a href="faq-accounts-billing#do-you-accept-foreign-credit-cards">Do you accept foreign credit cards?</a></li>
        <li><a href="faq-accounts-billing#do-you-offer-support">Do you offer support?</a></li>
        <li><a href="faq-accounts-billing#can-i-join-your-beta-program">Can I join your beta program?</a></li>
        <li><a href="faq-accounts-billing#do-you-have-an-affiliate-program">Do you have an affiliate program?</a></li>

  .clear
:markdown
  # Community Resources

  Can't find an answer to your question?  Ask some friends in the Heroku community [mailing list](http://groups.google.com/group/heroku) or on IRC in the [#heroku channel of Freenode](irc://irc.freenode.net/heroku).

  # Support

  If all else fails, you can always visit [support.heroku.com](http://support.heroku.com) to open a ticket and our support team will get back to you right away.