- @bodyid = "index"
- @title = "Docs"

%h1 Docs

:markdown
  Heroku has many resources available to help.  First, check out our [Quickstart Guide](quickstart).

  Then, browse or search our [docs](http://docs.heroku.com) on the left, or read the following [frequently asked questions](faq-accounts-billing):

%h2 Tutorials
%ul
  :plain
    <li><a href="tutorial">Rhodes Tutorial:</a> A brief tutorial that shows how to install and use Rhodes and RhoSync to build smartphone apps.  Start here!</li>
    <li><a href="/rhosync/tutorial">RhoSync Tutorial:</a> Shows you how install RhoSync and write a source adapter to easily integrate with backend apps.</li>
    <li><a href="/rhohub/tutorial">RhoHub Tutorial:</a> Intro to RhoHub, which shows how you build smartphone apps online and provide hosted sync.</li>
    <li><a href="thirdparty-tutorials">Third Party Tutorials:</a> Several third party tutorials, including Japanese translations of our documentation.</li>
    <li><a href="http://www.ruby-lang.org/en/documentation/quickstart">Ruby in Twenty Minutes:</a> You can do much with Rhodes with no prior Ruby. But this tutorial is helpful as you modify controllers.</li>

%h2 Developer References
%ul
  :plain
    <li><a href="rhodes-developer-reference">Rhodes Developer Reference:</a> Full documentation of Rhodes, includes how to build Rhodes all supported platforms.</li>
    <li><a href="rhosync-developer-reference">RhoSync Developer Reference</a> Full documentation of the RhoSync synchronization server.</a></li>
    <li><a href="faq">Technical FAQ:</a> Specific questions when building apps.</li>

%h2 Sample Apps
%ul
  :plain
    <li><a href="http://github.com/rhomobile/rhodes-system-api-samples">API samples:</a> A simple Rhodes application which demonstrates all features.</li>
    <li><a href="http://github.com/koombea/trackr2">TrackR:</a> Source code for third party iPhone App Store/Android Market app for Pivotal Tracker.</li>
    <li><a href="http://github.com/rhomobile/store">Rhostore:</a> Simple store application which we show you how to build in the Rhodes Tutorial.</li>
    <li><a href="http://github.com/rhomobile/store-bulk">Rhostore Bulk:</a> Simple store application demonstrating how to use the bulk sync feature.</li>
    <li><a href="http://github.com/rhomobile/webinar-samples">Webinar Samples:</a> A collection of all samples shown in the webinars.</li>
	
%h2 Other Resources
%ul
  :plain
    <li><a href="http://rhomobile.com/webinars">Webinars and Videos:</a> Webinars and videos with hands-on Rhodes training.</li>
    <li><a href="http://github.com/rhomobile">Rhomobile on GitHub:</a> Rhomobile's home on GitHub where the Rhodes and RhoSync are maintained.</li>
    <li><a href="http://groups.google.com/group/rhomobile">Google Group:</a> Rhomobile Google Group for your questions, problems and feedback.</li>
    <li><a href="releases">Latest Releases:</a> Latest release information and upgrade instructions.</li>
    <li><a href="http://www.apress.com/book/view/9781430228684">Book on Rhomobile Development:</a> This book from APress is available NOW.</li>

  .clear
:markdown
  # Community Resources

  Can't find an answer to your question?  Ask some friends in the Heroku community [mailing list](http://groups.google.com/group/heroku) or on IRC in the [#heroku channel of Freenode](irc://irc.freenode.net/heroku).

  # Support

  If all else fails, you can always visit [support.heroku.com](http://support.heroku.com) to open a ticket and our support team will get back to you right away.