:erb
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	<title>Rhomobile | <%=h @title %></title>
  	<link type="text/css" rel="stylesheet" href="/stylesheets/docs.css" media="screen" />
  	<link type="text/css" rel="stylesheet" href="/stylesheets/fontface.css" media="screen" />
  	<link type="text/css" rel="stylesheet" href="/stylesheets/coderay.css" media="screen" />
  	<script type="text/javascript" src="/javascripts/jquery-1.3.2.min.js"></script>
  </head>
  <body id="<%= @bodyid %>">
  <div class="nav_header">
    <div class="nav_logos">
      <a href="http://rhomobile.com" class="nav_logo_rhomobile">RhoMobile</a>
    </div>
    <div id="nav_menu">
      <ul>
        <li ><a href="http://rhomobile.com/" class="">Home</a></li>
        <li class="nav_separator"> 
          <img src="/images/dashboard/tabs_separator.png"> 
        </li>
        <li><a href="http://rhomobile.com/products">Products</a></li>
        <li><a href="http://docs.rhomobile.com/">Docs</a></li>
        <li><a href="http://rhomobile.com/partners">Partners</a></li>
        <li><a href="http://rhomobile.com/apps">Apps</a></li>
        <li><a href="http://rhomobile.com/company">Company</a></li>
      </ul>
    </div>
  </div>

  <div id="container">
  	<div id="docsnav" <% if @print != 0 %> style="display:none" <% end %> >
  		<form action="/search">
  			<div id="search">
  				<input type="text" name="q" size="31" value="<%= params[:q] || '' %>" />
  			</div>
  		</form>

  		<ul>
  			<% sections.each do |slug, title, topics| %>
  				<li>
  				<h3><%= title %></h3>
  				<ul>
  					<% topics.each do |slug, title, _| %>
  						<% if topic_path == slug %>
  							<li class="current"><a><%=h title %></a></li>
  						<% else %>
  							<li><a href="/<%= slug %>"><%=h title %></a></li>
  						<% end %>
  					<% end %>
  				</ul>
  				</li>
  			<% end %>
  		</ul>
  	</div>
	
  <div id="doc_container">
    <div id="content">
      <div class="topic_content">
        <%= yield %>
      </div>
    </div>
  </div>
  </div> <!-- end container -->

  <% if request.host == 'docs.rhomobile.com' %>
    <!-- google analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5554280-4']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  <% end %>
  </body>
  </html>
