<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Heroku | <%=h @title %></title>
	<link href="/css/docs.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="bodywrap">

	<div id="header">
		<img alt="Logo" id="logo" src="http://heroku.com/images/pages/logo.png" />
		
		<div id="nav">
			<a href="/">Docs</a> |
			<a href="http://blog.heroku.com/">Blog</a> |
			<a href="http://heroku.com/about">About</a> |
			<a href="http://heroku.com/login">Login</a>
		</div>
	</div>

	<div id="content">
		<div id="app_header">
			<a href="/">Heroku Documentation</a>
		</div>

		<!-- div id="sidebar">
		<h2>Also Checkout</h2>
		<div id="sidebar_bottom"></div>
		</div -->

		<div class="topic_content">
		  <%= yield %>
		</div>
	</div>

</div>
</body>
</html>
