<h1>Search Results</h1>

<p>Results for &quot;<%= params[:q] %>&quot;:</p>

<ul id="results">
<% search.results.each do |result| %>
  <li>
    <h2><a href="/<%= result.topic %>"><%=h result.title %></a></h2>
  </li>
<% end %>
</ul>