<h1>Search Results</h1>

<p>Results for &quot;<%= params[:q] %>&quot;:</p>

<ul id="results">
<% search.hits.each do |hit| %>
<% 

highlight = hit.highlights(:body).first
 if highlight
   highlight = highlight.format{|word| "<em>#{word}</em>"}
   # stripped = string.gsub(/\<[^\<]+\>/,'')
   # bolded = string.gsub("[[[", "<b>").gsub("]]]", "</b>")
   # highlight = bolded
 end
%>
<% result = hit.instance %>
    <h2><a href="/<%= result.topic %>"><%=h result.title %></a></h2>
    <%= highlight %> ...
<% end %>
</ul>
