/* basic
--------------------------------------------------*/

html {
	width: 100%;
	height: 100%;
}

body {
	background: #fff url(http://heroku.com/images/pages/background.gif) repeat-x top left;
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #444258;
	margin: 0;
	padding: 0;
	width: inherit;
	height: inherit;
}

a {
	text-decoration: none;
	outline: none;  /* disable mozilla's dotted box around link */
	font-weight: bold;
	color: #4285FF;
}
a:hover {
	text-decoration: none;
	color: #75A5FF;
}
input {
	outline: none;  /* disable mozilla's dotted box around link */
}

i {
	font-style: normal;
	color: #747380;
}

img {
	border: 0;
}

form {
	margin: 0;
	padding: 0;
}

.clear {
	position: relative;
	display: block;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;
	height: 1px;
	background: transparent;
	font-size: 1px;
	line-height: 1px;
}

pre code {
	background: black;
	color: #ccc;
	font-family: Monaco, monospace;
	white-space: pre;
	display: block;
	padding: 4px;
	padding-left: 8px;
	border-left: 4px solid #666;
}

table {
	border-collapse: collapse;
}

div#bodywrap {
	width: inherit;
	height: inherit;
	margin: 0 auto 0 auto;
}

.errors {
	width: 722px;
	background: #faa;
	border: 1px solid #a00;
	color: #600;
	padding: 14px;
	margin: 25px auto 5px;
}

.fieldWithErrors input {
	background: #ffa;
}

.notice {
	width: 722px;
	background: #ffa;
	border: 1px solid #aa0;
	color: #660;
	padding: 14px;
	margin: 25px auto 5px;
}

input[type=text], input[type=password]
{
	border: 1px solid #BFBFBF;
	background: #EBEAEB;
	padding: 4px;
	color: #5C5C66;
}
input[type=submit] {
	border: 1px solid #888;
	background: #999;
	padding: 3px;
	margin: 0 4px;
	color: #fff;
}
input[type=submit]:hover {
	background: #bbb;
	cursor: pointer;
}

.browser {
	background: #fda;
	border: 1px solid #a80;
	color: #640;
}

.browser div {
	float: left;
	height: 100%;
	vertical-align: middle;
	margin-right: 20px
}

img#subheader {
	display: block;
	margin: 10px 0 35px 0px;
}

div#subcontent {
	padding: 0 75px;
}

div.center {
	text-align: center;
}

/* header
--------------------------------------------------*/

#header {
	height: 87px;
	background: url(http://heroku.com/images/v2/header-no-shadow.png);
	font-size: 16px;
}

#logo {
	margin: 17px 0 0 25px;
	float: left;
	text-indent: -9999px;
	width: 177px;
	height: 56px;
	overflow: hidden;
	background: url(http://heroku.com/images/v2/logo.png) no-repeat;
}

#header ul {
	margin: 2.2em 18px 0;
	padding: 0;
	list-style: none;
	float: right;
	overflow: hidden;
}
#header ul li {
	float: left;
	background: url(http://heroku.com/images/v2/header-divider.png) no-repeat 0 50%;
	padding: 0 13px 0;
	margin-left: -2px;
	display: inline;
	color: #FFF;
}
#header ul li a {
	font-weight: normal;
	text-decoration: none;
	color: #c9c3e6;
}
#header ul li a:hover {
	color: #ffffff;
}
#header ul li a.active {
	color: #bfff40;
}

/* docsnav
--------------------------------------------------*/

#docsnav {
	position: absolute;
	left: -1em;
	padding-top: 2em;
	border-right: 1px solid #777;
	padding-right: 2em;
	height: 500px;
}
#docsnav .title a {
	font-size: 120%;
	font-weight: bold;
	color: #777;
}
#docsnav li {
	list-style-type: none;
	padding-bottom: 1em;
}
#docsnav a {
	font-size: 120%;
	font-weight: normal;
	color: #777;
}
#docsnav a:hover {
	color: #77f;
}

/* content
--------------------------------------------------*/

div#content {
	position: absolute;
	left: 22em;
	width: 750px;
  padding-bottom: 4em;
}

div#content hr, div#content hr.dark {
	border: 0;
	height: 3px;
	background: #E1E1E5;
	margin: 20px 0;
}

div#content hr.dark {
	background: #C9C9CC;
}

/* toc
--------------------------------------------------*/

#toc li {
	list-style-type: none;
}
#toc {
	padding-bottom: 1em;
	border-bottom: 1px solid #ccc;
}

/* quickstart
--------------------------------------------------*/

.quickstart {
	background: white;
	padding: 0 1em;
	border: 1px solid #666;
}

.quickstart li {
	padding-bottom: 0.8em;
}
