@font-face { font-family: "Hybrea"; font-weight: normal; src: local("Hybrea Light"), local("HybreaLt-Regular"), local("HybreaXl-Regular"), url("/fonts/hybrealight.otf") format("opentype"); }

@font-face { font-family: "Hybrea Bold"; font-weight: normal; src: local("Hybrea"), local("Hybrea Regular"), local("HybreaRg-Regular"), local("Hybrea-Regular"), local("HybreaRg-Bold"), local("Hybrea-Bold"), local("Hybrea Bold"), url("/fonts/hybrea.otf") format("opentype"); }

@font-face { font-family: "Corbel Bold"; font-weight: normal; src: local("Corbel Bold"), url("/fonts/corbelbold.ttf"); }

@font-face { font-family: "Corbel"; font-weight: normal; src: local("Corbel"), local("Corbel Regular"), url("/fonts/corbel.ttf"); }
