#j-nav {
	height: 38px;
	position: relative;
	width: 100%;
	z-index: 1;
	}
#j-satNav {
	height: 30px;
	display: block;
	font-size: 11px;
	overflow: hidden; /* fixes IE7's horizontal scrollbar bug with the 'More' menu */
	position: absolute;
	right: 10px;
	top: 12px;
	}
#j-satNav li {
	display: block;
	float: left;
	height: 31px;
	line-height: 30px;
	padding: 0 10px;
	}
#j-satNav li.register { border-left: 1px dotted #666; }

#j-satNav li a {
	color: white;
	display: inline;
	}
#j-satNav li.login,
#j-satNav li.register { 
	font-size: 13px; 
	height: auto; 
	line-height: 16px; 
	margin-top: 5px; 
	}
#j-satNav li.login a:hover,
#j-satNav li.login a:focus,
#j-satNav li.register a:hover,
#j-satNav li.register a:focus { text-decoration: underline; }

#j-satNav li.login a { font-weight: bold; }
#j-satNav li a > span { line-height: 1em; /*ie7*/ }
#j-satNav li:first-child { height: 30px; }

#j-satNav li:first-child .jive-avatar {
	/* the avatar item */
	border: 1px solid #ccc;
	display: inline-block;
	*display: inline; /*ie7*/
	height: 24px;
	zoom: 1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	}
#j-satNav li:first-child div.font-color-meta-light {
	display: inline-block;
	*display: inline;
	height: 26px;
	line-height: 28px;
	padding-left: 10px;
	position: relative;
	vertical-align: top;
	zoom: 1;
	}
#j-satNav li:first-child div.withmenu { padding-right: 26px; }

#j-satNav li:first-child div.font-color-meta-light a,
#j-satNav li:first-child em.guest {
	font-style: normal;
	font-weight: bold;
	}
#j-satNav li:first-child div.font-color-meta-light a:focus { text-decoration: underline; }

#j-satNav .j-nav-more,
#j-globalNav .j-nav-more {
	display: block;
	position: absolute;
	right: 2px;
	top: 7px;
	}
#j-globalNav .j-nav-more {
	right: 13px;
	top: 13px;
	}
#j-satNav .j-nav-more a,
#j-globalNav .j-nav-more a {
	background-position: -1px -373px;
	display: block;
	}
#j-satNav .j-nav-more a:hover,
#j-globalNav .j-nav-more a:hover { background-position:  -17px -373px; }

#j-satNav .j-nav-more a:focus,
#j-globalNav .j-nav-more a:focus,
#j-satNav .j-nav-more a:active,
#j-globalNav .j-nav-more a:active { background-position:  -33px -373px; }

#j-satNav-menu h3.j-nav-menu-section {
	font-size: 12px;
	padding: 4px 0 4px 8px;
	margin-top: 10px;
	}
#j-satNav-menu h3.j-nav-menu-section:first-child { margin-top: 0; }
li .j-nav-more { display: inline; }

.j-nav-more,
.j-nav-more a {
	height: 15px;
	width: 15px;
	}
.j-nav-more a {
	outline: none;
	overflow: hidden;
	text-indent: -5000px;
	}
.j-nav-more a > span { margin: 1px 4px; }

.j-nav-menu ul {
	list-style-type: none;
	margin: 10px;
	}
.j-nav-menu a { color: #fff; }
.j-nav-menu li { padding: 4px 0; }

#j-globalNav-bg {
	height: 38px;
	margin-left: -10px;
	margin-top: -10px;
	}

#j-globalNav li {
	display: block;
	float: left;
	height: 38px;
	line-height: 23px; /* adjust the text one pixel up so it lines up inside the select / hover states */
	list-style-type: none;
	position: relative;
	zoom: 1;
	*display: inline; /* sup, IE7 */
	}
#j-globalNav > li.navWithMenu > a { padding-right: 30px; }
#j-globalNav > li { background-position: right -861px; }
#j-globalNav > li.active { background-position: right -911px; }
#j-globalNav > li > a.j-globalNavLink { background-position: -100% -100%; }

#j-globalNav > li > a.j-globalNavLink:hover,
#j-globalNav > li > a.j-globalNavLink:focus { background-position: right -961px; }

.j-globalNavLink {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 8px 15px 6px;
	text-shadow: 0 1px 0 #555;
	font-size: 14px;
	height: 24px;
	}
#j-globalNav ul li .j-globalNavLink {
	margin: 0 5px;
	padding: 8px 2px 6px;
	}
.j-globalNavLink:link,
.j-globalNavLink:visited,
.j-globalNavLink:hover,
.j-globalNavLink:active,
#j-globalNav .j-nav-create a {
	color: #fff;
	font-weight: normal;
	}
#j-globalNav li.j-nav-create {
	border: none;
	background-image: none;
	padding-left: 15px;
	margin-top: 8px;
	height: 30px;
	}
#j-globalNav li.j-nav-create > a {
	background-position: 100% -1885px;
	display: inline-block;
	padding: 0 20px 0 0;
	height: 25px;
	line-height: 23px;
	}
#j-globalNav li.j-nav-create > a span.j-create {
	background-position: 0 -1857px;
	display: inline-block;
	padding-left: 12px;
	height: 25px;
	}
#j-globalNav li.j-nav-create > a:hover { background-position: 100% -1941px ; }
#j-globalNav li.j-nav-create > a:hover span.j-create { background-position: 0 -1913px; }

#j-globalNav li.j-nav-create > a:active,
#j-globalNav li.j-nav-create > a:focus { 
	background-position: 100% -1997px; 
	outline: none; 
	}
#j-globalNav li.j-nav-create > a:active span.j-create,
#j-globalNav li.j-nav-create > a:focus span.j-create { 
	background-position: 0 -1969px; 
	outline: none; 
	}
#j-globalNav li a span.nav-link {
	display: block;
	height: 24px;
	padding: 0 5px 0 0;
	*cursor: pointer; /*ie7*/
	}
#j-globalNav li.active .j-globalNavLink { font-weight: bold; }

/* .nav-link elements here also have .j-ui-elem on them */
#j-globalNav li#jive-nav-link-activity a span.nav-link,
#j-globalNav li#jive-nav-link-inbox a span.nav-link,
#j-globalNav li#jive-nav-link-actions a span.nav-link {
	overflow: hidden;
	padding: 0;
	width: 28px;
	text-indent: -500px;
	}
#j-globalNav li#jive-nav-link-activity a span.nav-link       { background-position: -227px -326px; }
#j-globalNav li#jive-nav-link-inbox	a span.nav-link          { background-position: -256px -326px; }
#j-globalNav li#jive-nav-link-actions  a span.nav-link       { background-position: -285px -326px; }
#j-globalNav li#jive-nav-link-activity.new a span.nav-link   { background-position: -314px -326px; }
#j-globalNav li#jive-nav-link-inbox.new	a span.nav-link      { background-position: -343px -326px; }
#j-globalNav li#jive-nav-link-actions.new  a span.nav-link   { background-position: -372px -326px; }

#j-globalNav li#jive-nav-link-activity a:hover span.nav-link,
#j-globalNav li#jive-nav-link-activity a:focus span.nav-link     { background-position: -227px -353px; }

#j-globalNav li#jive-nav-link-inbox a:hover span.nav-link,
#j-globalNav li#jive-nav-link-inbox a:focus span.nav-link        { background-position: -256px -353px; }

#j-globalNav li#jive-nav-link-actions a:hover span.nav-link,
#j-globalNav li#jive-nav-link-actions a:focus span.nav-link      { background-position: -285px -353px; }

#j-globalNav li#jive-nav-link-activity.new a:hover span.nav-link,
#j-globalNav li#jive-nav-link-activity.new a:focus span.nav-link { background-position: -314px -353px; }

#j-globalNav li#jive-nav-link-inbox.new a:hover span.nav-link,
#j-globalNav li#jive-nav-link-inbox.new a:focus span.nav-link    { background-position: -343px -353px; }

#j-globalNav li#jive-nav-link-actions.new a:hover span.nav-link,
#j-globalNav li#jive-nav-link-actions.new a:focus span.nav-link  { background-position: -372px -353px; }

/* .j-ui-elem */
.jive-icon-whatmatters {
	display: inline-block;
	*display: inline;
	zoom: 1;
	height: 34px;
	margin: 0 8px -9px 5px;
	width: 30px;
	}
.jive-icon-whatmatters-activity      { background-position:  -9px -326px; }
.jive-icon-whatmatters-communication { background-position: -49px -326px; }
.jive-icon-whatmatters-actions       { background-position: -88px -326px; }

.j-globalNavLink .nav-count-wrapper {
	display: block;
	position: absolute;
	top: 32px;
	left: 0;
	width: 58px;
	text-align: center;
	line-height: 12px;
	}
.j-globalNavLink span.nav-count,
.j-globalNavLink li.active span.nav-count {
	background-color: #9b9b9b;
	background-image: none;
	color: white;
	border: solid 1px #f2f2f2;
	display: inline-block;
	*display: inline;
	zoom: 1;
	font-weight: bold;
	font-size: 11px;
	height: 13px;
	padding: 0 4px;
	text-shadow: #666 0 0 1px;
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
	}
.j-globalNavLink:hover span.nav-count { text-decoration: none; }

#j-globalNav li#jive-nav-link-activity span.nav-count {
	height: 5px;
	left: 16px;
	line-height: 5px;
	padding: 0;
	top: 29px;
	width: 5px;
	}

/* -- Search -- */
#j-search-left {
	width: 27px;
	height: 24px;
	background-position: -198px -61px;
	display: inline-block;
    *display: inline;
    position: relative;
    zoom: 1;
	}
#j-search-right {
	width: 16px;
	height: 24px;
	display: inline-block;
	*display: inline; /*ie7*/
	zoom: 1;
	background-position: -230px -61px;
	zoom: 1;
	}
#j-search {
	float: right;
	white-space: nowrap;
	margin: 8px 0 0;
	}
#j-search input {
	background-position: 0 -465px;
	background-repeat: repeat-x;
	border: 0;
    display: inline-block;
    *display: inline;
	font-size: 11px;
	line-height: 1.2em;
	margin: 0;
	padding: 5px 0 6px;
    vertical-align: top;
	width: 143px;
    position: relative;/*ie7*/
    *top: -1px;/*ie7*/
	}
#j-search input:focus { outline: 0; }

#j-search  #j-spotlight-wrap {
	display: inline-block;
	width: 185px;
	height: 24px;
	position: relative;
	zoom: 1;
	*display: inline; /*ie7*/
	}
#j-spotlight-wrap a.j-menu-quick-bottomlink { margin: 15px; }

#j-spotlight-results {
	background: white;
	display: none;
	width: 360px;
	white-space: normal;
	z-index: 10;
	}
#j-spotlight-results ul li { list-style: none; }
#j-spotlight-results .j-icon-list { margin: 0 12px; }
#jive-spotlight-search .j-content-results a { text-decoration: none; }
#jive-spotlight-search .j-content-results a:hover .j-search-result { text-decoration: underline; }

.j-menu-loading { margin: 10px 15px; }

.j-menu-loading img,
.j-menu-loading span { float: left; }

.j-menu-loading span {
	padding: 8px;
	font-size: 16px;
	}

/* ------ SPOTLIGHT SEARCH ------ */
.jive-spotlight-search-context { margin: 10px 15px; }

/* exists so that we can programmatically set hover / unhover stats */
#jive-spotlight-search ul.j-icon-list { width: auto; }
#jive-spotlight-search ul.j-people-list { margin: 0 13px; }


#jive-spotlight-search ul li.hover a,
#jive-spotlight-search ul li:hover a { background: #F6F6F6; }
#jive-spotlight-search ul li {
	margin: 0 0 3px;
	padding: 0;
}

#jive-spotlight-search ul li a {
	display: block;
	font-size: 13px;
	padding: 5px 0 5px 28px;
	position: relative;
	min-height: 16px;
	}

#jive-spotlight-search ul.j-people-list li a {
	padding: 7px 0px 5px 34px;
	min-height: 22px;
}
#jive-spotlight-search ul.j-people-list li a img.jive-avatar {
	position: absolute;
	left: 4px;
	top: 2px;
}
/*content icon position */
#jive-spotlight-search ul.j-icon-list a .jive-icon-med {
	top: 5px;
}
#jive-spotlight-search .jive-spotlight-viewall { margin-top: 15px;}

#jive-spotlight-search ul li a em {
	font-style: normal;
	font-weight: normal;
	line-height: 11px;
	font-size: 11px;
	display: block;
	margin: 3px 0 0;
	}
#navBookmarks,
#navHistory {
	width: 27px;
	height: 24px;
	display: inline-block;
	margin-right: 5px;
	overflow: hidden;
	outline: none;
	line-height: 1000px;
	zoom: 1;
	*display: inline; /*ie7*/
	*vertical-align: top; /*ie7*/
	}
#navBookmarks {
	background-position: 0 0;
	width: 28px;
	position: relative;
	}
#navBookmarks:hover,
#navBookmarks:focus { background-position: -193px 0; }

#navBookmarks:active,
#navBookmarks.active { 
	background-position: -55px 0; 
	outline: none; 
	}
#navBookmarks .puff {
	width: 31px;
	height: 24px;
	position: absolute;
	z-index: 3;
	background-position: -163px 0;
	display: none;
	top: 0;
	left: -2px;
	}
#navHistory { background-position: -28px 0; }

#navHistory:hover,
#navHistory:focus { background-position: -221px 0; }

#navHistory:active,
#navHistory.active { 
	background-position: -83px 0; 
	outline: none; 
	}
#navHistory.open {
	background-position: -138px 0;
	height: 36px;
	margin-bottom: -12px; /* height of the bar minus height of open */
	}
#navBookmarks.open {
	background-position: -110px 0;
	height: 36px;
	margin-bottom: -12px;
	}

